@import 'config';
@import 'defaults';
.overlay{
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    margin: auto;
    z-index: 2;
    background: rgba(0,0,0,0.5);
    position: fixed;
    &.active{
        width: 100%;
    }
}
.container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
}

.site_header {
    background: transparent;
    position: absolute;
    z-index: 9995;
    width: 100%;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all;

    @media screen and (max-width: 480px) {
        padding: 0 20px
    }

    .header_inner {
        font-family: Poppins;
        padding: 10px 0;
        @include flex_b;

        .navbar {
            .header_link {
                text-transform: capitalize;
                margin-right: 40px;
                position: relative;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 33px;
            }

            @media screen and (max-width: 480px) {
                display: none;
            }
        }

        .currency {
            padding: 5px 10px;
            margin-left: 15px;
            box-sizing: border-box;
            border: 1px solid white;
            text-transform: uppercase;
            font-size: 18px;
        }
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        line-height: 30px;

    }
}

// 
// 
.site_header.fixed {
    transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    background: #189616b3;
    backdrop-filter: blur(7px);
    position: fixed;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

// 
// 
.site_hero {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 70.2%, rgba(0, 0, 0, 0) 100%), url('../../imgs/Aral_Sea_Ship_GraveYeard\ \(2\)\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;

    .hero_title {
        font-family: Satisfy;
        font-style: normal;
        font-weight: normal;
        font-size: 145px;
        line-height: 209px;
        text-align: center;
        padding-top: 10%;
        color: #2BC729;

        @media screen and (max-width: 768px) {
            font-size: 110px;
            padding-top: 25%;

        }

        @media screen and (max-width: 480px) {
            font-size: 50px;
            line-height: 72px;
        }

        span {
            color: white;
            position: relative;
            right: 35px;

            @media screen and (max-width: 480px) {
                right: 13px;
            }
        }
    }

    .hero_text {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
        text-align: center;
        width: 1160px;
        color: #EEEEEE;
        margin-bottom: 40px;

        @media screen and (max-width: 1024px) {
            font-weight: 500;
            font-size: 24px;
            width: 95%;
            line-height: 33px;
        }

        @media screen and (max-width: 768px) {
            font-weight: 500;
            font-size: 22px;
            width: 95%;
            line-height: 33px;
        }

        @media screen and (max-width: 480px) {
            width: 315px;
            font-size: 14px;
        }
    }

    .statics {
        font-family: Satisfy;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;

        @media screen and (max-width: 480px) {
            font-size: 22px;
            line-height: 105.6%;
        }

        // margin-bottom: 40px;
        .stat_title {

            // margin-bottom: 40px;
            @media screen and (max-width: 480px) {
                font-size: 22px;
                line-height: 105.6%;
            }

            display: block;
            line-height: 4;
            font-size: 28px;
        }

        .counter {

            // margin-bottom: 40px;
            @media screen and (max-width: 480px) {
                font-size: 42px;
                line-height: 105.6%;
            }

            font-size: 62px;
            display: block;
        }
    }

    .stat_btns {
        @media screen and (max-width:480px) {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            justify-content: center;

            .primary_btn {
                width: 200px;
                margin-bottom: 15px;
                font-size: 14px;
            }
        }

        .primary_btn {
            padding: 18px 28px;
            background: #189616;
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            color: #FFFFFF;



            &:nth-child(1) {
                margin-right: 35px;
            }

            @media screen and(max-width: 480px) {
                width: 200px;
                text-align: center;
                padding: 10px 35px;
                line-height: 1.5;
                box-sizing: border-box;
                margin-bottom: 15px;
                font-size: 14px;

                &:nth-child(1) {
                    margin-right: 0px;
                }

            }
        }
    }
}

.facts_inner {

    margin-bottom: 55px;

    .fact_heading {
        color: #555555;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 50px;
        font-size: 35px;

        span {
            font-weight: 600;
        }

        @media screen and(max-width: 480px) {
            font-size: 30px;
        }
    }

    .fact_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 480px) {
            flex-direction: column;
        }

        .left {
            width: 48%;
            height: 570px;
            background-image: url('../../imgs/aral.d998aa35.gif');
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;

            @media screen and (max-width: 480px) {
                width: 100%;
                height: 470px;

                background-size: contain;
            }
        }

        .right {
            width: 49%;

            @media screen and (max-width: 480px) {
                width: 100%;
            }

            .carousel {
                display: flex;
                align-items: center;

                .owl-carousel {
                    .item {
                        cursor: pointer;
                    }

                    margin: 0 auto;
                    width: 80%;
                    position: relative;

                }

                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    outline: none;
                }
            }

        }
    }
}

.quick_facts {
    .quick_fact_inner {
        display: flex;
        margin-bottom: 170px;
        justify-content: space-between;

        // align-items: center;
        @media screen and (max-width: 480px) {
            flex-direction: column;
        }
    }

    .left {
        width: 50%;

        @media screen and (max-width: 480px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .left_heading {
        color: #555555;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: uppercase;

        @media screen and (max-width: 480px) {
            text-align: start;
        }
    }

    ul {
        padding: 0;
    }

    .list_item {
        list-style: none;
        width: 90%;

        .list_text {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 33px;
            color: #333333;
        }
    }

    .right {
        width: 50%;

        @media screen and (max-width: 480px) {
            width: 100%;
        }

        .right_heading {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: 0.06em;
            color: #333333;
            margin-bottom: 35px;
            text-align: center;
        }

        .contributes_block {
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding: 24px 35px;
            max-height: 700px;
            overflow: scroll;

            .donation {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 10px;
                border-bottom: 1px solid #CCCCCC;
                margin-bottom: 15px;

                .anonym_info {

                    .title {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        margin-bottom: 5px;
                        line-height: 33px;
                        color: #333333;

                        @media screen and(max-width: 480px) {
                            img {
                                width: 50px;
                                height: 50px;
                                margin-right: 10px;
                            }
                        }
                    }

                    .date {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 21px;
                        color: #777777;
                    }

                    .feedback {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 27px;
                        color: #555555;
                    }

                    width: 250px;
                }

                .amount_trees {
                    padding: 8px 26px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 33px;
                    background: #3AB037;
                    border-radius: 10px;
                    color: #FFFFFF;

                    @media screen and(max-width: 480px) {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 18px;
                        padding: 8px 8px;
                        width: 110px;
                    }
                }

                @media screen and(max-width: 480px) {
                    img {
                        width: 50px;
                        height: 50px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


// 
.hamburger_menu {
    position: absolute;
    left: -50px;
    top: 0;
    width: 400px;
    height: 100vh;
    background: #189616;
    background-image: url('../../imgs/Vector.svg');
    background-repeat: no-repeat;
    background-position: 80% bottom;
    transform: translateX(-360px);
    transition: cubic-bezier(0.38, 0.24, 0, 1.57) 0.5s all;
    @media screen and (max-width: 480px){
        background-size: 23%;
    }
    .close_btn {
        float: right;
        padding: 40px 32px;
        @media screen and(max-width: 480px){
            width: 30%;
        }
    }

    .menu_group {

        margin: 0 auto;
        width: fit-content;
        padding-top: 210px;

        .menu_item {
            list-style: none;
            margin-bottom: 30px;

            .menu_link {
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 42px;
                color: #FFFFFF;
                @media screen and (max-width: 480px){
font-size: 24px;
line-height: 36px;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

.card_wrapper {

    .card.first {
        padding: 90px 170px;
        justify-content: flex-end;
        display: flex;
        background-image: url('../../imgs/1519999808_7432544_1519999632_8606803Aral_Sea\ 1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media screen and (max-width: 480px) {
            padding: 0;
        }

        .card_content {
            width: 55%;

            @media screen and (max-width: 480px) {
                width: 95%;
                margin-bottom: 140px;
                margin: 0 auto;

            }

            p {
                margin-bottom: 25px;
            }

            .title {
                text-transform: uppercase;
                font-style: normal;
                font-weight: 500;
                margin-bottom: 25px;
                font-size: 32px;
                line-height: 105.5%;
                text-transform: uppercase;
                color: #111111;

                @media screen and (max-width: 480px) {
                    font-weight: 600;
                    padding-top: 144px;
                    font-size: 16px;
                    line-height: 105.5%;
                }

                span {
                    font-weight: 600;
                }
            }
        }
    }

    .card.second {
        padding: 90px 170px;
        justify-content: flex-start;
        display: flex;
        background-image: url('../../imgs/Man_Planting_Saxaul\ 2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media screen and (max-width: 480px) {
            padding: 0;

        }

        .card_content {
            width: 50%;

            @media screen and (max-width: 480px) {
                width: 95%;
                margin-bottom: 140px;
                padding: 0 15px;

            }

            p {
                margin-bottom: 25px;
            }

            .title {
                text-transform: uppercase;
                font-style: normal;
                margin-bottom: 25px;
                font-size: 32px;
                line-height: 105.5%;
                text-transform: uppercase;
                color: #111111;
                font-weight: 600;

                @media screen and (max-width: 480px) {
                    font-weight: 600;
                    padding-top: 144px;
                    font-size: 16px;
                    line-height: 105.5%;
                }

            }
        }
    }

    .card.third {
        padding: 90px 170px;
        justify-content: flex-end;
        display: flex;
        background-image: url('../../imgs/Grandfather_granddaughter_photo_2019-12-19_10-38-21\ 1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media screen and (max-width: 480px) {
            padding: 0;
            background-position: 30%;
            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                url('../../imgs/Grandfather_granddaughter_photo_2019-12-19_10-38-21\ 1.jpg');

        }

        .card_content {
            width: 54%;

            @media screen and (max-width: 480px) {
                width: 95%;
                padding-bottom: 140px;
            }

            p {
                width: 80%;
                margin-bottom: 25px;
            }

            .subtitle {
                margin-bottom: 25px;
            }

            .title {
                text-transform: uppercase;
                font-style: normal;
                font-weight: 500;
                margin-bottom: 25px;
                font-size: 28px;
                line-height: 105.5%;
                text-transform: uppercase;
                color: #111111;
                line-height: 1.2;

                @media screen and (max-width: 480px) {
                    font-weight: 600;
                    padding-top: 144px;
                    font-size: 16px;
                    line-height: 105.5%;
                }

                span {
                    font-weight: 700;
                    font-size: 45px;

                    @media screen and (max-width: 480px) {
                        font-weight: 600;
                        padding-top: 144px;
                        font-size: 16px;
                        line-height: 105.5%;
                    }
                }
            }
        }
    }

    .card.fourth {
        padding: 90px 170px;
        justify-content: flex-start;
        display: flex;
        background-image: url('../../imgs/image\ 9.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media screen and (max-width: 480px) {
            padding: 0;

        }

        .card_content {
            width: 54%;
            min-height: 650px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            @media screen and (max-width: 480px) {
                width: 95%;
                margin: 0 auto;

                padding-bottom: 140px;
            }

            p {
                // width: 80%;
                font-size: 20px;
                margin-bottom: 25px;
            }

            .subtitle {
                margin-bottom: 25px;
            }

            .title {
                text-transform: uppercase;
                font-style: normal;
                font-weight: 500;
                margin-bottom: 35px;
                font-size: 28px;
                line-height: 105.5%;
                text-transform: uppercase;
                color: #111111;
                font-size: 45px;
                line-height: 1.2;

                @media screen and (max-width: 480px) {
                    font-weight: 600;
                    padding-top: 144px;
                    font-size: 16px;
                    line-height: 105.5%;
                }

                .subtitle {
                    font-weight: 900;
                    font-size: 45px;

                    @media screen and (max-width: 480px) {
                        font-weight: 500;
                        padding-top: 144px;
                        font-size: 14px;
                        line-height: 105.5%;
                    }
                }
            }
        }
    }


}

.owl-nav {
    display: none;
}

.learn_more_section {
    margin-bottom: 52px;

    .section_heading {
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        color: #000000;
        padding: 50px 0;
        display: block;
    }

    .blocks_wrapper {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        @media screen and(max-width: 480px){
                flex-direction: column;
                justify-content: center;
                align-items: center;
        }
        .block {
            flex-shrink: initial;
            position: relative;

            .shade {
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) all;
                text-align: center;
                padding: 100px 15px;
                height: 100%;
                // transform: translateY(100%);
                opacity: 0;
                width: 100%;
                top: 0;
                text-align: center;

                .shade_title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 45px;
                    color: #FFFFFF;
                    margin-bottom: 27px;
                }

                .shade_text {
                    width: 249px;
                    font-style: normal;
                    font-weight: 600;
                    margin: 0 auto;
                    font-size: 22px;
                    line-height: 33px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            &:hover .shade {
                transform: translateY(0);
                opacity: 1;
            }

        }

    }
}

.partners_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
@media screen and (max-width:480px){
    display: none;
}
    .left {
        display: flex;
        flex-wrap: wrap;

        .item {
            margin-right: 30px;

            img {
                margin: 0 auto;
                display: block;
                object-fit: contain;
                margin-bottom: 25px;
            }

            a {
                display: inline-block;
                width: 210px;
                text-align: center;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 27px;
                text-decoration: none;
                color: #000000;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;

        img {
            object-fit: contain;
        }
    }
}




.site_footer {
    background: #4B7134;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        .left {
            a {
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 33px;
                color: #EEEEEE;
                padding: 0 15px;
                text-decoration: none;
            }
        }

        .right {
            a {
                margin-left: 30px;
            }
        }
    }
}

.modal {
    position: absolute;
    width: 40%;
    height: max-content;
    top: 50%;
    left: 50%;
    display: none;
    box-sizing: border-box;
    padding: 57px 55px 70px 55px;
    transform: translate(-50%, -50%);
    background: #FFFFFF;

    @media screen and (max-width: 480px) {
        width: 95%;
    padding: 22px 34px 18px 33px;
        margin-top: 50px;
    }

    label {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 33px;
        margin-bottom: 10px;
        color: #000000;

        @media screen and (max-width: 480px) {
            font-size: 14px;
        }
    }


    input[type=text] {
        display: block;
        width: 100%;
        padding: 17px 17px 17px 43px;
        background: #EEEEEE;
        border: 1px solid #555555;
        margin-bottom: 20px;
        position: relative;

        @media screen and (max-width: 480px) {
            padding: 12px 12px 12px 38px;
        }
    }




    input[type=email] {
        display: block;
        width: 100%;
        padding: 17px 17px 17px 43px;
        background: #EEEEEE;
        border: 1px solid #555555;
        margin-bottom: 20px;

        @media screen and (max-width: 480px) {
            padding: 12px 12px 12px 38px;
        }
    }

    input[type=checkbox] {
        margin-bottom: 40px;
        display: inline-block;

        @media screen and (max-width: 480px) {
            padding: 12px 12px 12px 38px;
        }
    }

    textarea {
        display: block;
        width: 100%;
        padding: 17px 17px 17px 43px;
        background: #EEEEEE;
        border: 1px solid #555555;
        margin-bottom: 20px;

        @media screen and (max-width: 480px) {
            height: 120px;
        }

        resize: none;
    }

    .button_wrapper {
        display: flex;
        justify-content: center;

        button {
            background: #189616;
            padding: 12px 124px;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            border: none;
            outline: none;
            cursor: pointer;
            color: #FFFFFF;

            @media screen and (max-width: 480px) {
                font-size: 18px;
                padding: 6px 117px;
                width: 100%;
            }
        }

    }

    .close_modal {
        position: absolute;
        right: -60%;
        top: -1%;
        @media screen and (max-width: 480px){
            right: 0;
            top: -10%;
        }
        img {
            width: 70%;
            @media screen and (max-width: 480px) {
                width: 40px;
            }
        }
    }
}


// 